# python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
# *.jbl
# *.npy

# matlab
*.mat

# git
.git

venv
data/*.mat
oxbuild_images.tgz
*.test.py
oxford5k
data/networks/*.pth
data/whiten/retrieval-SfM-120k-resnet101-gem-whiten-22ab0c1.pth
